:root {
  --primary-brand-color: #4d5ae5;
  --pressed-state-color: #404bbf;
  --dark-color: #2e2f42;
  --text-color: #434455;
  --accent-color: #e7e9fc;
  --light-mode-color: #f4f4fd;
  --bg-white-color: #ffffff;
}

h1,
h2,
h3,
p {
  margin-top: 0;
  margin-bottom: 0;
}

ul {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}

img {
  display: block;
}

.list {
  list-style: none;
}

.link {
  text-decoration: none;
}

body {
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;

  color: var(--text-color);
  background-color: var(--bg-white-color);
}

.container {
  width: 1158px;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}

.section {
  padding-top: 120px;
  padding-bottom: 120px;
}

/* ======================== COMPONENTS ======================== */

.logo {
  font-family: 'Raleway', sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.33;
  letter-spacing: 0.03em;
  text-transform: uppercase;

  color: var(--primary-brand-color);

  margin-right: 76px;
}

.logo-theme-light {
  color: var(--dark-color);
}

.logo-theme-dark {
  color: var(--light-mode-color);
}

.title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.1;
  text-align: center;
  text-transform: capitalize;

  color: var(--dark-color);

  margin-bottom: 72px;
}
/* ============================= Header =========================== */

.page-header {
  padding-top: 24px;
  padding-bottom: 24px;
  border-bottom: 1px solid var(--accent-color);
}

.page-header-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.page-nav {
  display: flex;
  align-items: center;
}

.menu {
  display: flex;
  align-items: center;
}

.menu-item:not(:last-child) {
  margin-right: 40px;
}

.menu-link {
  font-weight: 500;
  color: var(--dark-color);
}

.menu-link:hover,
.menu-link:focus {
  color: var(--pressed-state-color);
}

/* Contacts */

.contacts {
  display: flex;
  align-items: center;
}

.contact-mail {
  margin-right: 40px;
}

.contact-mail,
.contact-phone {
  color: var(--text-color);
}

.contact-mail:hover,
.contact-mail:focus {
  color: var(--pressed-state-color);
}

.contact-phone:hover,
.contact-phone:focus {
  color: var(--pressed-state-color);
}

/* =================================== Hero ========================== */

.hero {
  background-color: var(--dark-color);
  text-align: center;

  padding-top: 188px;
  padding-bottom: 188px;
}

.hero-title {
  font-weight: 700;
  font-size: 56px;
  line-height: 1.07;

  color: var(--bg-white-color);

  width: 494px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 48px;
}

.modal-btn {
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;

  color: var(--bg-white-color);
  background-color: var(--primary-brand-color);
  cursor: pointer;

  display: inline-block;
  border-radius: 4px;
  border: none;
  padding-top: 16px;
  padding-bottom: 16px;
  padding-left: 32px;
  padding-right: 32px;
}

.modal-btn:hover,
.modal-btn:focus {
  background-color: var(--pressed-state-color);
}

/* =========================== Our advantages ========================= */

.advantages-list {
  display: flex;
  flex-wrap: wrap;
  gap: 24px;
}

.advantages-list-item {
  flex-basis: calc((100% - 72px) / 4);
}

.advantages-subtitle {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;

  color: var(--dark-color);

  margin-bottom: 8px;
}

/* =============================== About work ========================== */

.about-work {
  padding-top: 0;
}

.about-work-list {
  display: flex;
  gap: 24px;
}

.about-work-list-item {
  flex-basis: calc((100% - 48px) / 3);
}

/* =============================== Our team =========================== */

.team {
  background-color: var(--light-mode-color);
}

.team-list {
  display: flex;
  gap: 24px;
}

.team-card {
  background-color: var(--bg-white-color);

  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
  border-radius: 0px 0px 4px 4px;
}

.team-description {
  padding-top: 32px;
  padding-bottom: 32px;
  text-align: center;
}

.team-subtitle {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;

  color: var(--dark-color);

  margin-bottom: 8px;
}

/* ============================ PORTFOLIO FILTERS ==================== */

.filters-list {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 72px;
}

.filters-list-item:not(:last-child) {
  margin-right: 24px;
}

.filter-btn {
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;

  color: var(--primary-brand-color);
  background-color: var(--accent-color);
  cursor: pointer;

  display: inline-block;
  border-radius: 4px;
  border: 1px solid var(--accent-color);
  padding-top: 12px;
  padding-bottom: 12px;
  padding-left: 24px;
  padding-right: 24px;
}

.filter-btn:hover,
.filter-btn:focus {
  color: var(--bg-white-color);
  background-color: var(--pressed-state-color);
  border: 1px solid transparent;
}

/* ============================== PROJECTS =========================== */

.project-list {
  display: flex;
  flex-wrap: wrap;
  row-gap: 48px;
  column-gap: 24px;
}

.project-card {
  flex-basis: calc((100% - 48px) / 4);
}

.project-card-title {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;

  color: var(--dark-color);

  margin-bottom: 8px;
}

.project-description {
  padding-top: 32px;
  padding-bottom: 32px;
  padding-left: 16px;
  padding-right: 16px;

  border-right: 1px solid var(--accent-color);
  border-bottom: 1px solid var(--accent-color);
  border-left: 1px solid var(--accent-color);
}

/* ============================== Footer ============================== */

.page-footer {
  padding-top: 100px;
  padding-bottom: 100px;
  background-color: var(--dark-color);
}

.slogan {
  width: 264px;
  margin-top: 16px;

  color: var(--accent-color);
}
